[package]
name = "{{{packageName}}}"
version = "{{{packageVersion}}}"
authors = ["Adam Kloboucnik <adam@klob.cz>"]
edition = "2018"

[dependencies]
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
url = "1.5"
{{#hyper}}
hyper = "~0.11"
serde_yaml = "0.7"
base64 = "~0.7.0"
futures = "0.1.23"
{{/hyper}}
{{#reqwest}}
{{^supportAsync}}
reqwest = "~0.9"
{{/supportAsync}}
{{#supportAsync}}
[dependencies.reqwest]
version = "^0.11"
default-features = false
features = ["json", "default-tls"]
{{/supportAsync}}
{{/reqwest}}

[dev-dependencies]
{{#hyper}}
tokio-core = "*"
{{/hyper}}
{{#reqwest}}
env_logger = "*"
tokio = { version = "1.0", features = ["rt", "rt-multi-thread", "macros", "net"] }
{{/reqwest}}
